/* CSS for Odin Library */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#title-container {
    background-color: #FFF8F0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#title {
    font-size: 3rem;
    color: #5C4033;
    font-weight: 700;
    padding: 2rem;
}

#books-container {
    background-color: #FFE5D9;
    display: flex;
    flex-direction: column;
    padding: .25rem 1.5rem .25rem 1.5rem;
}

#books-header {
    color: #5C4033;
    font-weight: 600;
    font-size: 2rem;
}

#books-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8B5E3C;
    padding-top: .25rem;
}

#new-book-button {
    background-color: #C97B63;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: .55rem 1rem .55rem 1rem;
}

#new-book-button:hover {
    background-color: #D89078;
}

#book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 1.5rem;
    padding: .75rem 0rem 1rem 0rem;
}

.book {
    height: 200px;
    background-color: #FFF8F0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.book-title {
    color: #5C4033;
    font-size: 1.25rem;
    font-weight: 700;
}

.book-content-list {
    display: flex;
    flex-direction: column;
}

.book-content {
    color: #5C4033;
}

.read-status {
    display: flex;
}

#footer-container {
    background-color: #FFDDD2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    color: #4B2E2A;
    padding: 1.25rem;
}

a {
    color: #C97B63;
    text-decoration: none;
}

a:hover {
    color: #F4A261;
}