/* CSS for Odin Library */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#title-container {
    background-color: #FFF8F0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#title {
    font-size: 3rem;
    color: #5C4033;
    padding: 2rem;
}

#books-container {
    background-color: #FFE5D9;
    display: flex;
    flex-direction: column;
    padding: .25rem 1.5rem .25rem 1.5rem;
}

#books-header {
    color: #5C4033;
    font-size: 2rem;
}

#books-subheader {
    display: flex;
    justify-content: space-between;
    color: #8B5E3C;
    padding-top: .25rem;
}

#footer-container {
    background-color: #FFDDD2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    color: #4B2E2A;
    padding: 1.25rem;
}

a {
    color: #C97B63;
    text-decoration: none;
}

a:hover {
    color: #F4A261;
}